.footer {
    padding: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 30px;
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list svg {
    cursor: pointer;
    font-size: 25px;
}

.copy_right {
    margin-top: 40px;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}